@import "./normalize.css";
@import "./transition.css";
@import "./font.css";

:root {
    --mask: rgba(200, 200, 200, 0.5);
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragion Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px; /* 纵向滚动条*/
    height: 5px; /* 横向滚动条 */
    background-color: #fff;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #ccc;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #aaa;
    border-radius: 10px;
}

.clear-fix::after {
    clear: both;
    content: "";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}


.card {
    --card-footer-margin: 0;
    --card-padding: 0;
    --card-footer-padding: 0
}

.card .var-card__footer {
    display: block;
}

.center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.pointer:hover {
    cursor: pointer;
}

.animation-wrap {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f1f5;
}

.w-container table {
    width: 100%;
    border-collapse: collapse;
}

.w-container p {
    margin-bottom: .1em;
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 1.5;
    white-space: normal;
}

.w-container table th, .w-container table td {
    border: 1px solid #ccc;
    min-width: 50px;
    height: 20px;
    text-align: left;
}

.w-container table th {
    background-color: #f1f1f1;
    text-align: center
}

.w-container img {
    border-radius: 3px;
    max-width: 100%;
}

.limited-xy img {
    max-width: 100%;
    max-height: 30vh;
}

.w-container hr {
    margin: 20px auto;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.break {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center
}

.new {
    animation: bg-color 2s;
    animation-iteration-count: 1
}

.w-e-bar-item {
    padding: 0 !important;
    height: 35px !important;
}

.w-container {
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
    overflow-x: hidden;
}

.w-container ol {
    padding-left: 20px;
}

.w-container div[data-w-e-type="link-card"] {
    width: 90%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}

.w-container div[data-w-e-type="link-card"] .info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.w-container div[data-w-e-type="link-card"] .info-container p {
    margin-top: 5px;
    font-weight: bold;
}

.w-container div[data-w-e-type="link-card"] .info-container span {
    opacity: .5;
    white-space: normal;
}

.w-container div[data-w-e-type="link-card"] .icon-container {
    width: 64px;
    overflow: hidden;
}

.w-container div[data-w-e-type="link-card"] .icon-container img {
    width: 64px;
    object-fit: contain;
}

.w-e-image-container {
    margin: 0;
}

@keyframes bg-color {
    0% {
        background-color: #f5f5dc;
    }
    100% {
        background-color: transparent;
    }
}
